# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Use the IMDB-Movie-Data.csv file located in this directory. The dataset contains information about 1,000 movies from IMDB.

### 1. Read data

In [10]:
# import pandas
import pandas as pd

# create your data variable using .read_csv 
df = pd.read_csv('IMDB-Movie-Data.csv')

# create your data_indexed variable here
# Hint: use the index_col parameter to specify which column should be the index (try 'Title')
data_indexed = pd.read_csv('IMDB-Movie-Data.csv', index_col = 'Title')

In [ ]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [16]:
# Read data with specified explicit index
# This allows you to use movie titles as row labels instead of numeric indexes

print(data_indexed)

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy
...                       ...                       ...
Secret in Their Eyes      996       Crime,Drama,Mystery
Hostel: Part II           997                    Horror
Step Up 2: The Streets    998       Drama,Music,Romance
Search Party              999          Adventure,Comedy
Nine Lives               1000     Comedy,Family,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...
...                                                                    ...
Secret in Their Eyes     A tight-knit team of rising investigators, alo...
Hostel: Part II          Three American college students studying abroa...
Step Up 2: The Streets   Romantic sparks occur between two dance studen...
Search Party             A pair of friends embark on a mission to reuni...
Nine Lives               A stuffy businessman finds himself trapped ins...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer
...                                       ...
Secret in Their Eyes                Billy Ray
Hostel: Part II                      Eli Roth
Step Up 2: The Streets             Jon M. Chu
Search Party                   Scot Armstrong
Nine Lives                   Barry Sonnenfeld

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...
...                                                                    ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727
...                       ...                ...     ...     ...
Secret in Their Eyes     2015                111     6.2   27585
Hostel: Part II          2007                 94     5.5   73152
Step Up 2: The Streets   2008                 98     6.2   70699
Search Party             2014                 93     5.6    4881
Nine Lives               2016                 87     5.3   12435

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0
...                                     ...        ...
Secret in Their Eyes                    NaN       45.0
Hostel: Part II                       17.54       46.0
Step Up 2: The Streets                58.01       50.0
Search Party                            NaN       22.0
Nine Lives                            19.64       11.0

[1000 rows x 11 columns]

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [18]:
# Use the head() function to view the first 5 rows of the data set

print(data_indexed.head(5))

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0

In [21]:
# Use the tail() function to view the last 5 rows of the data set

print(data_indexed.tail(5))

                        Rank                  Genre  \
Title
Secret in Their Eyes     996    Crime,Drama,Mystery
Hostel: Part II          997                 Horror
Step Up 2: The Streets   998    Drama,Music,Romance
Search Party             999       Adventure,Comedy
Nine Lives              1000  Comedy,Family,Fantasy

                                                              Description  \
Title
Secret in Their Eyes    A tight-knit team of rising investigators, alo...
Hostel: Part II         Three American college students studying abroa...
Step Up 2: The Streets  Romantic sparks occur between two dance studen...
Search Party            A pair of friends embark on a mission to reuni...
Nine Lives              A stuffy businessman finds himself trapped ins...

                                Director  \
Title
Secret in Their Eyes           Billy Ray
Hostel: Part II                 Eli Roth
Step Up 2: The Streets        Jon M. Chu
Search Party              Scot Armstrong
Nine Lives              Barry Sonnenfeld

                                                                   Actors  \
Title
Secret in Their Eyes    Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II         Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets  Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party            Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives              Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                        Year  Runtime (Minutes)  Rating  Votes  \
Title
Secret in Their Eyes    2015                111     6.2  27585
Hostel: Part II         2007                 94     5.5  73152
Step Up 2: The Streets  2008                 98     6.2  70699
Search Party            2014                 93     5.6   4881
Nine Lives              2016                 87     5.3  12435

                        Revenue (Millions)  Metascore
Title
Secret in Their Eyes                   NaN       45.0
Hostel: Part II                      17.54       46.0
Step Up 2: The Streets               58.01       50.0
Search Party                           NaN       22.0
Nine Lives                           19.64       11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [23]:
# The info() function: 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [27]:
# shape:
print(df.shape)

# what information does shape provide?  what is the order?
# (1000, 12) (columns, rows)

(1000, 12)

In [32]:
# columns:
print(df.columns)

# what information does columns provide?
# Index object containing the labels of all columns present in the DataFrame.

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [33]:
# The describe() function: 

print(df.describe())

              Rank         Year  Runtime (Minutes)       Rating         Votes  \
count  1000.000000  1000.000000        1000.000000  1000.000000  1.000000e+03
mean    500.500000  2012.783000         113.172000     6.723200  1.698083e+05
std     288.819436     3.205962          18.810908     0.945429  1.887626e+05
min       1.000000  2006.000000          66.000000     1.900000  6.100000e+01
25%     250.750000  2010.000000         100.000000     6.200000  3.630900e+04
50%     500.500000  2014.000000         111.000000     6.800000  1.107990e+05
75%     750.250000  2016.000000         123.000000     7.400000  2.399098e+05
max    1000.000000  2016.000000         191.000000     9.000000  1.791916e+06

       Revenue (Millions)   Metascore
count          872.000000  936.000000
mean            82.956376   58.985043
std            103.253540   17.194757
min              0.000000   11.000000
25%             13.270000   47.000000
50%             47.985000   59.500000
75%            113.715000   72.000000
max            936.630000  100.000000

### 4. Data Selection -- Indexing and Slicing

In [44]:
#  Extract data as series
# define and print the variable 'genre'
genre = df['Genre']
print(genre)

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [45]:
# Extract the data as a dataframe and print it
genre_df = df[['Genre','Director']]
print(genre_df)

                        Genre              Director
0     Action,Adventure,Sci-Fi            James Gunn
1    Adventure,Mystery,Sci-Fi          Ridley Scott
2             Horror,Thriller    M. Night Shyamalan
3     Animation,Comedy,Family  Christophe Lourdelet
4    Action,Adventure,Fantasy            David Ayer
..                        ...                   ...
995       Crime,Drama,Mystery             Billy Ray
996                    Horror              Eli Roth
997       Drama,Music,Romance            Jon M. Chu
998          Adventure,Comedy        Scot Armstrong
999     Comedy,Family,Fantasy      Barry Sonnenfeld

[1000 rows x 2 columns]

In [49]:
# Extract data using rows

# loc function
print(df.loc[6])

Rank                                                                  7
Title                                                        La La Land
Genre                                                Comedy,Drama,Music
Description           A jazz pianist falls for an aspiring actress i...
Director                                                Damien Chazelle
Actors                Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....
Year                                                               2016
Runtime (Minutes)                                                   128
Rating                                                              8.3
Votes                                                            258682
Revenue (Millions)                                               151.06
Metascore                                                          93.0
Name: 6, dtype: object

In [56]:
# iloc function
print(df.iloc[:5, :7])

   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016

### 5. Data Selection - Based on Conditional Filtering

In [73]:
# Use this code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated significant revenue.
# For "significant revenue", filter for movies in the top 25% of revenue (use data['Revenue (Millions)'].quantile(0.75))
significant_revenue = df['Revenue (Millions)'].quantile(0.75)
filtered_movies = df[
    (df['Year']>= 2010) &
    (df['Year'] <= 2016) & 
    (df['Rating'] < 6.0) & 
    (df['Revenue (Millions)']>= significant_revenue)
]
print(filtered_movies[['Title', 'Year', 'Rating', 'Revenue (Millions)']])

                                         Title  Year  Rating  \
63                        Fifty Shades of Grey  2015     4.1
79                                Ghostbusters  2016     5.3
126            Transformers: Age of Extinction  2014     5.7
366  The Twilight Saga: Breaking Dawn - Part 2  2012     5.5
394                                Grown Ups 2  2013     5.4
575                        Clash of the Titans  2010     5.8
580                       Kickboxer: Vengeance  2016     4.9
657               Teenage Mutant Ninja Turtles  2014     5.9
673                              Green Lantern  2011     5.6
878                      G.I. Joe: Retaliation  2013     5.8
925  The Twilight Saga: Breaking Dawn - Part 1  2011     4.9
941                 The Twilight Saga: Eclipse  2010     4.9

     Revenue (Millions)
63               166.15
79               128.34
126              245.43
366              292.30
394              133.67
575              163.19
580              131.56
657              190.87
673              116.59
878              122.51
925              281.28
941              300.52

In [76]:
# Bonus Challenge: Try adjusting the quantile value to be more specific.
top_5_percent_revenue_threshold = df['Revenue (Millions)'].quantile(0.95)
filtered_movies = df[
    (df['Year']>= 2010) &
    (df['Year'] <= 2016) & 
    (df['Rating'] < 6.0) & 
    (df['Revenue (Millions)']>= significant_revenue)
]
print(filtered_movies[['Title', 'Year', 'Rating', 'Revenue (Millions)']])

# Can you find movies with exactly the characteristics you're looking for by experimenting with different thresholds?
revenue_99 = df['Revenue (Millions)'].quantile(0.99)
rating_99 = df['Rating'].quantile(0.99)

filter_movies = df[
    (df['Revenue (Millions)']<= revenue_99) &
    (df['Rating']< rating_99)
]
print(filter_movies[['Title', 'Year', 'Rating', 'Revenue (Millions)']])

                                         Title  Year  Rating  \
63                        Fifty Shades of Grey  2015     4.1
79                                Ghostbusters  2016     5.3
126            Transformers: Age of Extinction  2014     5.7
366  The Twilight Saga: Breaking Dawn - Part 2  2012     5.5
394                                Grown Ups 2  2013     5.4
575                        Clash of the Titans  2010     5.8
580                       Kickboxer: Vengeance  2016     4.9
657               Teenage Mutant Ninja Turtles  2014     5.9
673                              Green Lantern  2011     5.6
878                      G.I. Joe: Retaliation  2013     5.8
925  The Twilight Saga: Breaking Dawn - Part 1  2011     4.9
941                 The Twilight Saga: Eclipse  2010     4.9

     Revenue (Millions)
63               166.15
79               128.34
126              245.43
366              292.30
394              133.67
575              163.19
580              131.56
657              190.87
673              116.59
878              122.51
925              281.28
941              300.52
                        Title  Year  Rating  Revenue (Millions)
0     Guardians of the Galaxy  2014     8.1              333.13
1                  Prometheus  2012     7.0              126.46
2                       Split  2016     7.3              138.12
3                        Sing  2016     7.2              270.32
4               Suicide Squad  2016     6.2              325.02
..                        ...   ...     ...                 ...
993  Resident Evil: Afterlife  2010     5.9               60.13
994                 Project X  2012     6.7               54.72
996           Hostel: Part II  2007     5.5               17.54
997    Step Up 2: The Streets  2008     6.2               58.01
999                Nine Lives  2016     5.3               19.64

[853 rows x 4 columns]